<div id="especeoiseau">
  <h1>Espece Oiseaux</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">Nom Scientifique</th>
      <th class="contentCell">Nom Commun</th>
      <th class="contentCell">Statut</th>
      <th class="contentCell">Nom Scientifique Comsommer</th>
      <th class="actionCell">Action</th>
    </thead>

    <tbody>
            <tr *ngFor="let espece of especesOiseaux; let i = index">
              <td class="contentCell" *ngIf="espece.editable" contenteditable="true"(blur)="changeNomScientifique($event, i)">{{ espece.nomscientifique }}</td>
              <td class="contentCell" *ngIf="espece.editable" contenteditable="true" (blur)="changeNomCommun($event, i)">{{ espece.nomcommun }}</td>
              <td class="contentCell" *ngIf="espece.editable">
                <select [(ngModel)]="selectedStatut" (change)="changeStatut($event, i, selectedStatut)">
                    <option *ngFor="let statut of listeStatuts" [value]="statut">{{ statut }}</option>
                </select>
            </td>
            
              <td class="contentCell" *ngIf="espece.editable" contenteditable="true" (blur)="changeNomScientifiqueComsommer($event, i)">{{ espece.nomscientifiquecomsommer }}</td>


              <td class="contentCell" *ngIf="!espece.editable" contenteditable="false" (blur)="changeNomScientifique($event, i)">{{ espece.nomscientifique }}</td>
              <td class="contentCell" *ngIf="!espece.editable" contenteditable="false" (blur)="changeNomCommun($event, i)">{{ espece.nomcommun }}</td>
              <td class="contentCell" *ngIf="!espece.editable" contenteditable="false" (blur)="changeStatut($event, i)">{{ espece.statutspeces }}</td>
              <td class="contentCell" *ngIf="!espece.editable" contenteditable="false" (blur)="changeNomScientifiqueComsommer($event, i)">{{ espece.nomscientifiquecomsommer }}</td>
                  <td class="actionCell">
                    <button *ngIf="!espece.editable" type="button" class="submitbtn" (click)="toggleEdit(i)">Modifier</button>
                    <button *ngIf="espece.editable" type="button" class="submitbtn" (click)="updateEspeceOiseau(i)"><i class="fa fa-edit"></i></button>
                    <button type="button" class="deletebtn" (click)="deleteEspeceOiseau(espece.nomscientifique)"><i class="fa fa-trash-o"></i></button>
                  </td>
            </tr>  


            
    </tbody>

  </table>

  <button type="button" class="btn" (click)="showAddForm()">Ajouter  Espece</button>



  <!-- Formulaire popup -->
<div *ngIf="showAddFormFlag" class="popup">
  <div class="popup-content">
    <span class="close" (click)="closeAddForm()">&times;</span>
    <h2>Ajouter une nouvelle espèce d'oiseau</h2>
    <form>
      <div>
        <label for="newNomScientifique">Nom Scientifique:</label>
        <input type="text" id="newNomScientifique" [(ngModel)]="nomScientifique">
      </div>
      <div>
        <label for="newNomCommun">Nom Commun:</label>
        <input type="text" id="newNomCommun" [(ngModel)]="nomCommun">
      </div>
      <div>
        <label for="newStatut">Statut:</label>
        <select id="newStatut" [(ngModel)]="statut">
          <option *ngFor="let statut of listeStatuts" [value]="statut">{{ statut }}</option>
        </select>
      </div>
      <div>
        <label for="newNomScientifiqueComsommer">Nom Scientifique Comsommer:</label>
        <select id="newNomScientifiqueComsommer" [(ngModel)]="nomScientifiqueComsommer">
          <option value="null">null</option>
          <option *ngFor="let nom of listeNomsScientifiquesComsommer" [ngValue]="nom.nomscientifique">{{ nom.nomscientifique }}</option>
        </select>
      </div>
      <button type="submit" (click)="insertEspeceOiseau()">Ajouter</button>
    </form>
  </div>
</div>


</div>
