<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP5</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/birds">Especes Oiseau</a>
      <!-- <a class="nav-item nav-link active" routerLink="/rooms">Rooms</a>
      <a class="nav-item nav-link active" routerLink="/guests">Guests</a> -->
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Welcome<br />to<br /><span class="Ornitho1">Ornithoworld</span
    ><span class="Ornitho2">Perry</span><span class="hotel3">Faucons...</span>
  </p>
  <button type="button" class="btn" routerLink="/birds">CHECK OUR ESPECES &#10140;</button>
</div>

<router-outlet></router-outlet>
